/*parte inicial de Diana*/

@media (min-width: 1200px) {
    .container {
        width: 1560px;
    }
}

#promo .col-lg-12 {
    padding: 0 22px 10px 22px;
}

#promo .carousel {
    margin-top: -2px;
}


/*parte final de Diana*/